In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_raw = pd.read_csv("/Users/akshayokali/akshaynayanravi/my_workspace/salary_satisfaction/salary_satisfaction/model/data/salary,satisfaction.csv")
print(type(data_raw))

<class 'pandas.core.frame.DataFrame'>

Steps to follow:
1. Undersatnd the data
2. Preprocessing - Handle Data Types
3. Handling Missing Values - Delete the rows or replace it mean or median or most frequent value
4. Preprocessing Methods - Binning, Encoding, Feature Engineering
5. Correlation of data
6. Remove unnecessary data

In [3]:
data_raw.head()

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,homeaddress,latitude,longitude,PHONE,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
0,68407277,42405.00,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,•\tExcellent interpersonal and organizational ...,...,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,(91) 555 22 82,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:30:00
1,68355089,60740.00,1,"$24,700.00","EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,...,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,NaN,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:00:00
2,68341763,51907.68,0,"$20,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,NaN,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:53:00
3,66310712,51907.68,0,"$35,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,2125557818,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:50:00
4,68476807,35.00,1,"$10,400.00",Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,NaN,...,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220,26.47.1555,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:31:00

In [4]:
print(len(data_raw.columns))
print(data_raw.columns)
print(f"Data has {data_raw.shape[0]} rows and {data_raw.shape[1]} columns")

83
Index(['id', 'Target_Salary', 'Target_Satisfied', 'LOAN_AMT', 'Business Title',
       'Civil Service Title', 'Division/Work Unit', 'Job Description',
       'Minimum Qual Requirements', 'Preferred Skills',
       'Additional Information', 'To Apply', 'Hours/Shift',
       'Residency Requirement', 'Posting Date', 'Posting Updated',
       'Process Date', 'FormalEducation', 'UndergradMajor', 'CompanySize',
       'DevType', 'YearsCoding', 'YearsCodingProf', 'HopeFiveYears',
       'JobSearchStatus', 'LastNewJob', 'UpdateCV', 'CommunicationTools',
       'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes',
       'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1',
       'AgreeDisagree2', 'AgreeDisagree3', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'loan_status', 'pymnt_plan',
       'orignal_website_directory', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'Time',
       'emp_length', 'your_favoritearticle_today', 'url', 'Email',
       'homeaddress', 'latitude', 'longitude', 'PHONE', 'officeaddress',
       'website', 'dateAdded', 'previousaddress', 'phones', 'CrimeTime'],
      dtype='object')
Data has 2946 rows and 83 columns

In [5]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 83 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2946 non-null   int64
 1   Target_Salary               2946 non-null   float64
 2   Target_Satisfied            2946 non-null   int64
 3   LOAN_AMT                    2946 non-null   object
 4   Business Title              2946 non-null   object
 5   Civil Service Title         2946 non-null   object
 6   Division/Work Unit          2946 non-null   object
 7   Job Description             2946 non-null   object
 8   Minimum Qual Requirements   2926 non-null   object
 9   Preferred Skills            2553 non-null   object
 10  Additional Information      1854 non-null   object
 11  To Apply                    2945 non-null   object
 12  Hours/Shift                 884 non-null    object
 13  Residency Requirement       2942 non-null   object
 14  Posting Date                2942 non-null   object
 15  Posting Updated             2942 non-null   object
 16  Process Date                2942 non-null   object
 17  FormalEducation             2894 non-null   object
 18  UndergradMajor              2624 non-null   object
 19  CompanySize                 2946 non-null   object
 20  DevType                     2901 non-null   object
 21  YearsCoding                 2943 non-null   object
 22  YearsCodingProf             2538 non-null   object
 23  HopeFiveYears               2477 non-null   object
 24  JobSearchStatus             2511 non-null   object
 25  LastNewJob                  2499 non-null   object
 26  UpdateCV                    2089 non-null   object
 27  CommunicationTools          2023 non-null   object
 28  TimeFullyProductive         2052 non-null   object
 29  EducationTypes              2128 non-null   object
 30  SelfTaughtTypes             1812 non-null   object
 31  TimeAfterBootcamp           221 non-null    object
 32  HackathonReasons            849 non-null    object
 33  AgreeDisagree1              2133 non-null   object
 34  AgreeDisagree2              2133 non-null   object
 35  AgreeDisagree3              2139 non-null   object
 36  LanguageWorkedWith          2447 non-null   object
 37  LanguageDesireNextYear      2279 non-null   object
 38  DatabaseWorkedWith          2130 non-null   object
 39  DatabaseDesireNextYear      1831 non-null   object
 40  PlatformWorkedWith          2070 non-null   object
 41  PlatformDesireNextYear      1909 non-null   object
 42  FrameworkWorkedWith         1633 non-null   object
 43  FrameworkDesireNextYear     1731 non-null   object
 44  IDE                         2360 non-null   object
 45  OperatingSystem             2377 non-null   object
 46  Methodology                 1991 non-null   object
 47  VersionControl              2332 non-null   object
 48  CheckInCode                 2319 non-null   object
 49  AIDangerous                 2000 non-null   object
 50  AIInteresting               2076 non-null   object
 51  AIResponsible               2070 non-null   object
 52  AIFuture                    2196 non-null   object
 53  Age                         2027 non-null   object
 54  term                        2946 non-null   object
 55  loan_status                 2946 non-null   object
 56  pymnt_plan                  2946 non-null   object
 57  orignal_website_directory   2946 non-null   object
 58  purpose                     2946 non-null   object
 59  title                       2882 non-null   object
 60  zip_code                    2946 non-null   object
 61  addr_state                  2946 non-null   object
 62  dti                         2946 non-null   float64
 63  earliest_cr_line            2946 non-null   object
 64  last_pymnt_d                2946 non-null   object
 65  last_pymnt_amnt             2946 non-null   float64
 66  next_pymnt_d                336 non-null    object
 67  last_credit_pull_d          2946 non-null   object
 68  Time                        2946 non-null   object
 69  emp_length                  715 non-null    object
 70  your_favoritearticle_today  2945 non-null   object
 71  url                         2946 non-null   object
 72  Email                       1941 non-null   object
 73  homeaddress                 2629 non-null   object
 74  latitude                    2629 non-null   float64
 75  longitude                   2629 non-null   float64
 76  PHONE                       715 non-null    object
 77  officeaddress               2407 non-null   object
 78  website                     2399 non-null   object
 79  dateAdded                   2946 non-null   object
 80  previousaddress             2946 non-null   object
 81  phones                      2946 non-null   object
 82  CrimeTime                   2946 non-null   object
dtypes: float64(5), int64(2), object(76)
memory usage: 1.9+ MB

In [6]:
for i in data_raw.columns:
    print(i)
    print(data_raw[i].describe())
    print("-----------------------------------------------------------------------")

id
count    2.946000e+03
mean     6.830623e+07
std      1.814269e+06
min      3.617740e+05
25%      6.837622e+07
50%      6.846507e+07
75%      6.853764e+07
max      6.861706e+07
Name: id, dtype: float64
-----------------------------------------------------------------------
Target_Salary
count      2946.000000
mean      58904.139794
std       26986.575936
min           0.000000
25%       49390.000000
50%       58440.000000
75%       73171.750000
max      218587.000000
Name: Target_Salary, dtype: float64
-----------------------------------------------------------------------
Target_Satisfied
count    2946.000000
mean        0.210115
std         0.407460
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Target_Satisfied, dtype: float64
-----------------------------------------------------------------------
LOAN_AMT
count            2946
unique            492
top       $15,000.00
freq              203
Name: LOAN_AMT, dtype: object
-----------------------------------------------------------------------
Business Title
count                         2946
unique                        1244
top       Assistant Civil Engineer
freq                            33
Name: Business Title, dtype: object
-----------------------------------------------------------------------
Civil Service Title
count                      2946
unique                      312
top       COMMUNITY COORDINATOR
freq                        182
Name: Civil Service Title, dtype: object
-----------------------------------------------------------------------
Division/Work Unit
count                     2946
unique                     678
top       Executive Management
freq                        56
Name: Division/Work Unit, dtype: object
-----------------------------------------------------------------------
Job Description
count                                                  2946
unique                                                 1608
top       The New York City Taxi and Limousine Commissio...
freq                                                     14
Name: Job Description, dtype: object
-----------------------------------------------------------------------
Minimum Qual Requirements
count                                                  2926
unique                                                  336
top       1. A baccalaureate degree from an accredited c...
freq                                                    182
Name: Minimum Qual Requirements, dtype: object
-----------------------------------------------------------------------
Preferred Skills
count              2553
unique             1282
top       ERROR: #NAME?
freq                 41
Name: Preferred Skills, dtype: object
-----------------------------------------------------------------------
Additional Information
count                                                  1854
unique                                                  681
top       Appointments are subject to OMB approval. For ...
freq                                                     87
Name: Additional Information, dtype: object
-----------------------------------------------------------------------
To Apply
count                              2945
unique                              893
top       Click the "Apply Now" button.
freq                                296
Name: To Apply, dtype: object
-----------------------------------------------------------------------
Hours/Shift
count          884
unique         181
top       35 Hours
freq           134
Name: Hours/Shift, dtype: object
-----------------------------------------------------------------------
Residency Requirement
count                                                  2942
unique                                                   50
top       New York City residency is generally required ...
freq                                                   1705
Name: Residency Requirement, dtype: object
-----------------------------------------------------------------------
Posting Date
count                        2942
unique                        493
top       2019-11-01T00:00:00.000
freq                           64
Name: Posting Date, dtype: object
-----------------------------------------------------------------------
Posting Updated
count                        2942
unique                        487
top       2019-12-13T00:00:00.000
freq                           82
Name: Posting Updated, dtype: object
-----------------------------------------------------------------------
Process Date
count                        2942
unique                          1
top       2019-12-17T00:00:00.000
freq                         2942
Name: Process Date, dtype: object
-----------------------------------------------------------------------
FormalEducation
count                                         2894
unique                                           9
top       Bachelor�s degree (BA, BS, B.Eng., etc.)
freq                                          1442
Name: FormalEducation, dtype: object
-----------------------------------------------------------------------
UndergradMajor
count                                                  2624
unique                                                   12
top       Computer science, computer engineering, or sof...
freq                                                   1698
Name: UndergradMajor, dtype: object
-----------------------------------------------------------------------
CompanySize
count                   2946
unique                     8
top       20 to 99 employees
freq                     719
Name: CompanySize, dtype: object
-----------------------------------------------------------------------
DevType
count                     2901
unique                     810
top       Full-stack developer
freq                       225
Name: DevType, dtype: object
-----------------------------------------------------------------------
YearsCoding
count          2943
unique           11
top       3-5 years
freq            699
Name: YearsCoding, dtype: object
-----------------------------------------------------------------------
YearsCodingProf
count          2538
unique           11
top       3-5 years
freq            791
Name: YearsCodingProf, dtype: object
-----------------------------------------------------------------------
HopeFiveYears
count                                                  2477
unique                                                    7
top       Working in a different or more specialized tec...
freq                                                    872
Name: HopeFiveYears, dtype: object
-----------------------------------------------------------------------
JobSearchStatus
count                                                  2511
unique                                                    3
top       I�m not actively looking, but I am open to new...
freq                                                   1542
Name: JobSearchStatus, dtype: object
-----------------------------------------------------------------------
LastNewJob
count                     2499
unique                       5
top       Less than a year ago
freq                       895
Name: LastNewJob, dtype: object
-----------------------------------------------------------------------
UpdateCV
count                                               2089
unique                                                 8
top       My job status or other personal status changed
freq                                                 825
Name: UpdateCV, dtype: object
-----------------------------------------------------------------------
CommunicationTools
count                                                  2023
unique                                                  348
top       Office / productivity suite (Microsoft Office,...
freq                                                    136
Name: CommunicationTools, dtype: object
-----------------------------------------------------------------------
TimeFullyProductive
count                    2052
unique                      6
top       One to three months
freq                      909
Name: TimeFullyProductive, dtype: object
-----------------------------------------------------------------------
EducationTypes

count                                                  2128
unique                                                  264
top       Taught yourself a new language, framework, or ...
freq                                                    179
Name: EducationTypes, dtype: object
-----------------------------------------------------------------------
SelfTaughtTypes
count                                                  1812
unique                                                  226
top       The official documentation and/or standards fo...
freq                                                    113
Name: SelfTaughtTypes, dtype: object
-----------------------------------------------------------------------
TimeAfterBootcamp
count                                                   221
unique                                                    8
top       I already had a full-time job as a developer w...
freq                                                    112
Name: TimeAfterBootcamp, dtype: object
-----------------------------------------------------------------------
HackathonReasons
count                                                   849
unique                                                   98
top       To improve my general technical skills or prog...
freq                                                    113
Name: HackathonReasons, dtype: object
-----------------------------------------------------------------------
AgreeDisagree1
count      2133
unique        5
top       Agree
freq       1166
Name: AgreeDisagree1, dtype: object
-----------------------------------------------------------------------
AgreeDisagree2
count      2133
unique        5
top       Agree
freq        575
Name: AgreeDisagree2, dtype: object
-----------------------------------------------------------------------
AgreeDisagree3
count         2139
unique           5
top       Disagree
freq           766
Name: AgreeDisagree3, dtype: object
-----------------------------------------------------------------------
LanguageWorkedWith
count                           2447
unique                          1578
top       C#;JavaScript;SQL;HTML;CSS
freq                              55
Name: LanguageWorkedWith, dtype: object
-----------------------------------------------------------------------
LanguageDesireNextYear
count     2279
unique    1607
top         C#
freq        28
Name: LanguageDesireNextYear, dtype: object
-----------------------------------------------------------------------
DatabaseWorkedWith
count           2130
unique           691
top       SQL Server
freq             196
Name: DatabaseWorkedWith, dtype: object
-----------------------------------------------------------------------
DatabaseDesireNextYear
count           1831
unique           819
top       SQL Server
freq              89
Name: DatabaseDesireNextYear, dtype: object
-----------------------------------------------------------------------
PlatformWorkedWith
count                          2070
unique                          764
top       Windows Desktop or Server
freq                            164
Name: PlatformWorkedWith, dtype: object
-----------------------------------------------------------------------
PlatformDesireNextYear
count      1909
unique      938
top       Linux
freq        109
Name: PlatformDesireNextYear, dtype: object
-----------------------------------------------------------------------
FrameworkWorkedWith
count          1633
unique          216
top       .NET Core
freq            143
Name: FrameworkWorkedWith, dtype: object
-----------------------------------------------------------------------
FrameworkDesireNextYear
count              1731
unique              363
top       Node.js;React
freq                113
Name: FrameworkDesireNextYear, dtype: object
-----------------------------------------------------------------------
IDE
count                                 2360
unique                                 839
top       Visual Studio;Visual Studio Code
freq                                    83
Name: IDE, dtype: object
-----------------------------------------------------------------------
OperatingSystem
count        2377
unique          4
top       Windows
freq         1151
Name: OperatingSystem, dtype: object
-----------------------------------------------------------------------
Methodology
count            1991
unique            155
top       Agile;Scrum
freq              344
Name: Methodology, dtype: object
-----------------------------------------------------------------------
VersionControl
count     2332
unique      49
top        Git
freq      1379
Name: VersionControl, dtype: object
-----------------------------------------------------------------------
CheckInCode
count                       2319
unique                         6
top       Multiple times per day
freq                        1485
Name: CheckInCode, dtype: object
-----------------------------------------------------------------------
AIDangerous
count                                      2000
unique                                        4
top       Algorithms making important decisions
freq                                        598
Name: AIDangerous, dtype: object
-----------------------------------------------------------------------
AIInteresting
count                              2076
unique                                4
top       Increasing automation of jobs
freq                                871
Name: AIInteresting, dtype: object
-----------------------------------------------------------------------
AIResponsible
count                                             2070
unique                                               4
top       The developers or the people creating the AI
freq                                               992
Name: AIResponsible, dtype: object
-----------------------------------------------------------------------
AIFuture
count                                                  2196
unique                                                    3
top       I'm excited about the possibilities more than ...
freq                                                   1601
Name: AIFuture, dtype: object
-----------------------------------------------------------------------
Age
count                  2027
unique                    6
top       25 - 34 years old
freq                   1117
Name: Age, dtype: object
-----------------------------------------------------------------------
term
count           2946
unique             2
top        36 months
freq            2059
Name: term, dtype: object
-----------------------------------------------------------------------
loan_status
count           2946
unique             6
top       Fully Paid
freq            2154
Name: loan_status, dtype: object
-----------------------------------------------------------------------
pymnt_plan
count     2946
unique       1
top          n
freq      2946
Name: pymnt_plan, dtype: object
-----------------------------------------------------------------------
orignal_website_directory
count                                                  2946
unique                                                 2946
top       https://lendingclub.com/browse/loanDetail.acti...
freq                                                      1
Name: orignal_website_directory, dtype: object
-----------------------------------------------------------------------
purpose
count                   2946
unique                    12
top       debt_consolidation
freq                    1731
Name: purpose, dtype: object
-----------------------------------------------------------------------
title
count                   2882
unique                    12
top       Debt consolidation
freq                    1699
Name: title, dtype: object
-----------------------------------------------------------------------
zip_code
count      2946
unique      629
top       300xx
freq         34
Name: zip_code, dtype: object
-----------------------------------------------------------------------
addr_state
count     2946
unique      49
top         CA
freq       357
Name: addr_state, dtype: object
-----------------------------------------------------------------------
dti
count    2946.000000
mean       19.444117
std         8.628543
min         0.000000
25%        13.035000
50%        18.905000
75%        25.580000
max        51.200000
Name: dti, dtype: float64
-----------------------------------------------------------------------
earliest_cr_line
count      2946
unique      426
top       3-Aug
freq         29
Name: earliest_cr_line, dtype: object
-----------------------------------------------------------------------
last_pymnt_d
count       2946
unique        39
top       19-Jan
freq         444
Name: last_pymnt_d, dtype: object
-----------------------------------------------------------------------
last_pymnt_amnt

count     2946.000000
mean      4663.227026
std       6855.297610
min          0.030000
25%        362.980000
50%        842.235000
75%       6832.185000
max      35467.750000
Name: last_pymnt_amnt, dtype: float64
-----------------------------------------------------------------------
next_pymnt_d
count        336
unique         2
top       19-Apr
freq         335
Name: next_pymnt_d, dtype: object
-----------------------------------------------------------------------
last_credit_pull_d
count       2946
unique        40
top       19-Mar
freq        1287
Name: last_credit_pull_d, dtype: object
-----------------------------------------------------------------------
Time
count                2946
unique                698
top       3/23/2016 11:03
freq                   47
Name: Time, dtype: object
-----------------------------------------------------------------------
emp_length
count           715
unique           11
top       10+ years
freq            322
Name: emp_length, dtype: object
-----------------------------------------------------------------------
your_favoritearticle_today
count                                                  2945
unique                                                 2945
top       https://www.newsweek.com/florida-school-bus-dr...
freq                                                      1
Name: your_favoritearticle_today, dtype: object
-----------------------------------------------------------------------
url
count                                                  2946
unique                                                 2946
top       modiketse.co.za/church/images/usproperties/ind...
freq                                                      1
Name: url, dtype: object
-----------------------------------------------------------------------
Email
count     1941
unique    1921
top         na
freq         4
Name: Email, dtype: object
-----------------------------------------------------------------------
homeaddress
count                                                  2629
unique                                                 2629
top       100 Cambridgeside Pl Spc F21 Cambridge, MA 021...
freq                                                      1
Name: homeaddress, dtype: object
-----------------------------------------------------------------------
latitude
count    2629.000000
mean       37.515979
std         4.749089
min        25.479009
25%        33.876535
50%        38.898082
75%        40.813125
max        48.785206
Name: latitude, dtype: float64
-----------------------------------------------------------------------
longitude
count    2629.000000
mean      -92.490287
std        16.578616
min      -124.183611
25%      -105.095673
50%       -87.180851
75%       -78.879958
max       -68.753750
Name: longitude, dtype: float64
-----------------------------------------------------------------------
PHONE
count         715
unique         24
top       #ERROR!
freq           74
Name: PHONE, dtype: object
-----------------------------------------------------------------------
officeaddress
count                                             2407
unique                                            2331
top       445 St. Paul St., Rochester, New York, 14605
freq                                                 3
Name: officeaddress, dtype: object
-----------------------------------------------------------------------
website
count                                                  2399
unique                                                 1369
top                                                     ...
freq                                                    557
Name: website, dtype: object
-----------------------------------------------------------------------
dateAdded
count                     2946
unique                      37
top       2017-07-02T02:34:33Z
freq                       375
Name: dateAdded, dtype: object
-----------------------------------------------------------------------
previousaddress
count              2946
unique               48
top       311 W 43rd St
freq                375
Name: previousaddress, dtype: object
-----------------------------------------------------------------------
phones
count               2946
unique                46
top       (212) 776-1818
freq                 375
Name: phones, dtype: object
-----------------------------------------------------------------------
CrimeTime
count         2946
unique         754
top       22:00:00
freq            70
Name: CrimeTime, dtype: object
-----------------------------------------------------------------------

In [7]:
for i in data_raw.columns:
    print(i)
    print(data_raw[i].head())
    print("-----------------------------------------------------------------------")

id
0    68407277
1    68355089
2    68341763
3    66310712
4    68476807
Name: id, dtype: int64
-----------------------------------------------------------------------
Target_Salary
0    42405.00
1    60740.00
2    51907.68
3    51907.68
4       35.00
Name: Target_Salary, dtype: float64
-----------------------------------------------------------------------
Target_Satisfied
0    0
1    1
2    0
3    0
4    1
Name: Target_Satisfied, dtype: int64
-----------------------------------------------------------------------
LOAN_AMT
0     $3,600.00
1    $24,700.00
2    $20,000.00
3    $35,000.00
4    $10,400.00
Name: LOAN_AMT, dtype: object
-----------------------------------------------------------------------
Business Title
0                                      Account Manager
1             EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT
2    Maintenance Worker - Technical Services-Heatin...
3    Maintenance Worker - Technical Services-Heatin...
4                                    Temporary Painter
Name: Business Title, dtype: object
-----------------------------------------------------------------------
Civil Service Title
0    CONTRACT REVIEWER (OFFICE OF L
1    ADMINISTRATIVE BUSINESS PROMOT
2                MAINTENANCE WORKER
3                MAINTENANCE WORKER
4                           PAINTER
Name: Civil Service Title, dtype: object
-----------------------------------------------------------------------
Division/Work Unit
0              Strategy & Analytics
1              Tech Talent Pipeline
2    Management Services Department
3    Management Services Department
4     Dept of Management & Planning
Name: Division/Work Unit, dtype: object
-----------------------------------------------------------------------
Job Description
0    Division of Economic & Financial Opportunity (...
1    The New York City Department of Small Business...
2    Under direct supervision, assist in the routin...
3    Under direct supervision, assist in the routin...
4    Responsibilities of selected candidates will i...
Name: Job Description, dtype: object
-----------------------------------------------------------------------
Minimum Qual Requirements
0    1.\tA baccalaureate degree from an accredited ...
1    1. A baccalaureate degree from an accredited c...
2    1. Three years of full-time satisfactory exper...
3    1. Three years of full-time satisfactory exper...
4    1. Five years of full-time satisfactory experi...
Name: Minimum Qual Requirements, dtype: object
-----------------------------------------------------------------------
Preferred Skills
0    •\tExcellent interpersonal and organizational ...
1                                                  NaN
2    1.  A High School Diploma or GED.  2.  CDL Dri...
3    1.  A High School Diploma or GED.  2.  CDL Dri...
4                                                  NaN
Name: Preferred Skills, dtype: object
-----------------------------------------------------------------------
Additional Information
0    Salary range for this position is: $42,405 - $...
1                                                  NaN
2    1.  A Motor Vehicle Driver’s License valid in ...
3    1.  A Motor Vehicle Driver’s License valid in ...
4    SPECIAL NOTE:    1.  This is a temporary assig...
Name: Additional Information, dtype: object
-----------------------------------------------------------------------
To Apply
0                                                  NaN
1    In addition to applying through this website, ...
2                        Click the "Apply Now" button.
3                        Click the "Apply Now" button.
4                        Click the "Apply Now" button.
Name: To Apply, dtype: object
-----------------------------------------------------------------------
Hours/Shift
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Hours/Shift, dtype: object
-----------------------------------------------------------------------
Residency Requirement
0    New York City residency is generally required ...
1    New York City residency is generally required ...
2                 NYCHA has no residency requirements.
3                 NYCHA has no residency requirements.
4                  NYCHA has no residency requirement.
Name: Residency Requirement, dtype: object
-----------------------------------------------------------------------
Posting Date
0    2011-06-24T00:00:00.000
1    2012-01-26T00:00:00.000
2    2013-10-24T00:00:00.000
3    2013-10-24T00:00:00.000
4    2014-01-09T00:00:00.000
Name: Posting Date, dtype: object
-----------------------------------------------------------------------
Posting Updated
0    2011-06-24T00:00:00.000
1    2012-01-26T00:00:00.000
2    2013-12-12T00:00:00.000
3    2013-12-12T00:00:00.000
4    2014-01-08T00:00:00.000
Name: Posting Updated, dtype: object
-----------------------------------------------------------------------
Process Date
0    2019-12-17T00:00:00.000
1    2019-12-17T00:00:00.000
2    2019-12-17T00:00:00.000
3    2019-12-17T00:00:00.000
4    2019-12-17T00:00:00.000
Name: Process Date, dtype: object
-----------------------------------------------------------------------
FormalEducation
0             Bachelor�s degree (BA, BS, B.Eng., etc.)
1             Bachelor�s degree (BA, BS, B.Eng., etc.)
2                                     Associate degree
3             Bachelor�s degree (BA, BS, B.Eng., etc.)
4    Some college/university study without earning ...
Name: FormalEducation, dtype: object
-----------------------------------------------------------------------
UndergradMajor
0                            Mathematics or statistics
1    A natural science (ex. biology, chemistry, phy...
2    Computer science, computer engineering, or sof...
3    Computer science, computer engineering, or sof...
4    Computer science, computer engineering, or sof...
Name: UndergradMajor, dtype: object
-----------------------------------------------------------------------
CompanySize
0          20 to 99 employees
1    10,000 or more employees
2          20 to 99 employees
3        100 to 499 employees
4    10,000 or more employees
Name: CompanySize, dtype: object
-----------------------------------------------------------------------
DevType
0                                 Full-stack developer
1    Database administrator;DevOps specialist;Full-...
2             Engineering manager;Full-stack developer
3                                 Full-stack developer
4    Data or business analyst;Desktop or enterprise...
Name: DevType, dtype: object
-----------------------------------------------------------------------
YearsCoding
0           3-5 years
1    30 or more years
2         24-26 years
3         18-20 years
4           6-8 years
Name: YearsCoding, dtype: object
-----------------------------------------------------------------------
YearsCodingProf
0      3-5 years
1    18-20 years
2      6-8 years
3    12-14 years
4      0-2 years
Name: YearsCodingProf, dtype: object
-----------------------------------------------------------------------
HopeFiveYears
0    Working as a founder or co-founder of my own c...
1    Working in a different or more specialized tec...
2    Working as a founder or co-founder of my own c...
3    Working as a founder or co-founder of my own c...
4    Working in a different or more specialized tec...
Name: HopeFiveYears, dtype: object
-----------------------------------------------------------------------
JobSearchStatus
0    I�m not actively looking, but I am open to new...
1                      I am actively looking for a job
2    I�m not actively looking, but I am open to new...
3    I�m not actively looking, but I am open to new...
4    I�m not actively looking, but I am open to new...
Name: JobSearchStatus, dtype: object
-----------------------------------------------------------------------
LastNewJob
0         Less than a year ago
1        More than 4 years ago
2         Less than a year ago
3         Less than a year ago
4    Between 1 and 2 years ago
Name: LastNewJob, dtype: object
-----------------------------------------------------------------------
UpdateCV
0    My job status or other personal status changed
1                 I saw an employer�s advertisement
2                                               NaN
3                          A recruiter contacted me
4    My job status or other personal status changed
Name: UpdateCV, dtype: object
-----------------------------------------------------------------------
CommunicationTools
0                                                Slack
1    Confluence;Office / productivity suite (Micros...
2                                                  NaN
3                                                  NaN
4    Office / productivity suite (Microsoft Office,...
Name: CommunicationTools, dtype: object
-----------------------------------------------------------------------
TimeFullyProductive
0    One to three months
1    One to three months
2                    NaN
3    Three to six months
4    Three to six months
Name: TimeFullyProductive, dtype: object
-----------------------------------------------------------------------
EducationTypes
0    Taught yourself a new language, framework, or ...
1    Taught yourself a new language, framework, or ...
2                                                  NaN
3    Completed an industry certification program (e...
4    Taken a part-time in-person course in programm...
Name: EducationTypes, dtype: object
-----------------------------------------------------------------------
SelfTaughtTypes
0    The official documentation and/or standards fo...
1    The official documentation and/or standards fo...
2                                                  NaN
3    The official documentation and/or standards fo...
4    The official documentation and/or standards fo...
Name: SelfTaughtTypes, dtype: object
-----------------------------------------------------------------------
TimeAfterBootcamp
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: TimeAfterBootcamp, dtype: object
-----------------------------------------------------------------------
HackathonReasons
0    To build my professional network
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
Name: HackathonReasons, dtype: object
-----------------------------------------------------------------------
AgreeDisagree1
0    Strongly agree
1             Agree
2               NaN
3          Disagree
4    Strongly agree
Name: AgreeDisagree1, dtype: object
-----------------------------------------------------------------------
AgreeDisagree2
0    Strongly agree
1             Agree
2               NaN
3          Disagree
4             Agree
Name: AgreeDisagree2, dtype: object
-----------------------------------------------------------------------
AgreeDisagree3
0    Neither Agree nor Disagree
1    Neither Agree nor Disagree
2                           NaN
3             Strongly disagree
4             Strongly disagree
Name: AgreeDisagree3, dtype: object
-----------------------------------------------------------------------
LanguageWorkedWith
0                          JavaScript;Python;HTML;CSS
1                        JavaScript;Python;Bash/Shell
2                                                 NaN
3    C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4                  C;C++;Java;Matlab;R;SQL;Bash/Shell
Name: LanguageWorkedWith, dtype: object
-----------------------------------------------------------------------
LanguageDesireNextYear
0                          JavaScript;Python;HTML;CSS
1                                           Go;Python
2                                                 NaN
3    C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4                Assembly;C;C++;Matlab;SQL;Bash/Shell
Name: LanguageDesireNextYear, dtype: object
-----------------------------------------------------------------------
DatabaseWorkedWith
0    Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...
1                           Redis;PostgreSQL;Memcached
2                                                  NaN
3    SQL Server;Microsoft Azure (Tables, CosmosDB, ...
4                 SQL Server;PostgreSQL;Oracle;IBM Db2
Name: DatabaseWorkedWith, dtype: object
-----------------------------------------------------------------------
DatabaseDesireNextYear
0    Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...
1                                           PostgreSQL
2                                                  NaN
3    SQL Server;Microsoft Azure (Tables, CosmosDB, ...
4                            PostgreSQL;Oracle;IBM Db2
Name: DatabaseDesireNextYear, dtype: object
-----------------------------------------------------------------------
PlatformWorkedWith
0             AWS;Azure;Linux;Firebase
1                                Linux
2                                  NaN
3                                Azure
4    Arduino;Windows Desktop or Server
Name: PlatformWorkedWith, dtype: object
-----------------------------------------------------------------------
PlatformDesireNextYear
0             AWS;Azure;Linux;Firebase
1                                Linux
2                                  NaN
3                                Azure
4    Arduino;Windows Desktop or Server
Name: PlatformDesireNextYear, dtype: object
-----------------------------------------------------------------------
FrameworkWorkedWith
0    Django;React
1          Django
2             NaN
3             NaN
4             NaN
Name: FrameworkWorkedWith, dtype: object
-----------------------------------------------------------------------
FrameworkDesireNextYear
0               Django;React
1                      React
2                        NaN
3    Angular;.NET Core;React
4                        NaN
Name: FrameworkDesireNextYear, dtype: object
-----------------------------------------------------------------------
IDE
0                 Komodo;Vim;Visual Studio Code
1            IPython / Jupyter;Sublime Text;Vim
2                                           NaN
3              Visual Studio;Visual Studio Code
4    Notepad++;Visual Studio;Visual Studio Code
Name: IDE, dtype: object
-----------------------------------------------------------------------
OperatingSystem
0    Linux-based
1    Linux-based
2            NaN
3        Windows
4        Windows
Name: OperatingSystem, dtype: object
-----------------------------------------------------------------------
Methodology
0                                          Agile;Scrum
1                                                  NaN
2                                                  NaN
3                                   Agile;Kanban;Scrum
4    Evidence-based software engineering;Formal sta...
Name: Methodology, dtype: object
-----------------------------------------------------------------------
VersionControl
0                  Git
1       Git;Subversion
2                  NaN
3                  Git
4    Zip file back-ups
Name: VersionControl, dtype: object
-----------------------------------------------------------------------
CheckInCode
0             Multiple times per day
1               A few times per week
2                                NaN
3             Multiple times per day
4    Weekly or a few times per month
Name: CheckInCode, dtype: object
-----------------------------------------------------------------------
AIDangerous
0    Artificial intelligence surpassing human intel...
1                        Increasing automation of jobs
2                                                  NaN
3    Artificial intelligence surpassing human intel...
4                Algorithms making important decisions
Name: AIDangerous, dtype: object
-----------------------------------------------------------------------
AIInteresting
0                Algorithms making important decisions
1                        Increasing automation of jobs
2                                                  NaN
3    Artificial intelligence surpassing human intel...
4                Algorithms making important decisions
Name: AIInteresting, dtype: object
-----------------------------------------------------------------------
AIResponsible
0    The developers or the people creating the AI
1    The developers or the people creating the AI
2                                             NaN
3         A governmental or other regulatory body
4    The developers or the people creating the AI
Name: AIResponsible, dtype: object
-----------------------------------------------------------------------
AIFuture
0    I'm excited about the possibilities more than ...
1    I'm excited about the possibilities more than ...
2                                                  NaN
3    I don't care about it, or I haven't thought ab...
4    I'm excited about the possibilities more than ...
Name: AIFuture, dtype: object
-----------------------------------------------------------------------
Age
0    25 - 34 years old
1    35 - 44 years old
2                  NaN
3    35 - 44 years old
4    18 - 24 years old
Name: Age, dtype: object
-----------------------------------------------------------------------
term
0     36 months
1     36 months
2     60 months
3     60 months
4     60 months
Name: term, dtype: object
-----------------------------------------------------------------------
loan_status
0    Fully Paid
1    Fully Paid
2    Fully Paid
3       Current
4    Fully Paid
Name: loan_status, dtype: object
-----------------------------------------------------------------------
pymnt_plan
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object
-----------------------------------------------------------------------
orignal_website_directory
0    https://lendingclub.com/browse/loanDetail.acti...
1    https://lendingclub.com/browse/loanDetail.acti...
2    https://lendingclub.com/browse/loanDetail.acti...
3    https://lendingclub.com/browse/loanDetail.acti...
4    https://lendingclub.com/browse/loanDetail.acti...
Name: orignal_website_directory, dtype: object
-----------------------------------------------------------------------
purpose
0    debt_consolidation
1        small_business
2      home_improvement
3    debt_consolidation
4        major_purchase
Name: purpose, dtype: object
-----------------------------------------------------------------------
title
0    Debt consolidation
1              Business
2                   NaN
3    Debt consolidation
4        Major purchase
Name: title, dtype: object
-----------------------------------------------------------------------
zip_code
0    190xx
1    577xx
2    605xx
3    076xx
4    174xx
Name: zip_code, dtype: object
-----------------------------------------------------------------------
addr_state
0    PA
1    SD
2    IL
3    NJ
4    PA
Name: addr_state, dtype: object
-----------------------------------------------------------------------
dti
0     5.91
1    16.06
2    10.78
3    17.06
4    25.37
Name: dti, dtype: float64
-----------------------------------------------------------------------
earliest_cr_line
0     3-Aug
1    Dec-99
2    Aug-00
3     8-Sep
4    Jun-98
Name: earliest_cr_line, dtype: object
-----------------------------------------------------------------------
last_pymnt_d
0    19-Jan
1    16-Jun
2    17-Jun
3    19-Feb
4    16-Jul
Name: last_pymnt_d, dtype: object
-----------------------------------------------------------------------
last_pymnt_amnt
0      122.67
1      926.35
2    15813.30
3      829.90
4    10128.96
Name: last_pymnt_amnt, dtype: float64
-----------------------------------------------------------------------
next_pymnt_d
0       NaN
1       NaN
2       NaN
3    19-Apr
4       NaN
Name: next_pymnt_d, dtype: object
-----------------------------------------------------------------------
last_credit_pull_d
0    19-Mar
1    19-Mar
2    19-Mar
3    19-Mar
4    18-Mar
Name: last_credit_pull_d, dtype: object
-----------------------------------------------------------------------
Time

## 1. Loan Amount

In [8]:
print(data_raw["LOAN_AMT"].describe())

count            2946
unique            492
top       $15,000.00
freq              203
Name: LOAN_AMT, dtype: object

In [9]:
def clean_loan_amt(loan_amt):
    loan_amt_clean = str(loan_amt).replace("$", "").replace(",", "")
    loan_amt_clean = float(loan_amt_clean)
    
    return loan_amt_clean

data_raw["LOAN_AMT_CLEAN"] = data_raw["LOAN_AMT"].apply(clean_loan_amt)
print(data_raw["LOAN_AMT"].describe())
print(data_raw["LOAN_AMT_CLEAN"].describe())

count            2946
unique            492
top       $15,000.00
freq              203
Name: LOAN_AMT, dtype: object
count     2946.000000
mean     15345.663612
std       8636.391303
min       1000.000000
25%       8681.250000
50%      14400.000000
75%      20000.000000
max      35000.000000
Name: LOAN_AMT_CLEAN, dtype: float64